@model EntryModel
@{
    ViewData["Title"] = "Запись";
}
<p class="mb-5 text-white">1</p>
<p class="mb-5 text-white">2</p>
<p class="mb-5 text-white">3</p>
<div class="row col-12 align-content-md-center justify-content-center align-self-center ">
    <div class="w-50  text-center mt-5 ">
        <h2 class="text-black border-bottom">Ваш заказ</h2>
        <p>Номер услуги -@Model.serviceid</p>
        <p>Номер мастера -@Model.masterid</p>
    </div>
</div>

