@{
}
<div class="text-center">
	<img class="img-fluid mb-5 rounded" src="/imgs/error.png"/>
	<h2 class="mb-3">Пользователь с таким номером телефона не найден или вы ввели номер неправильно(вводить через первую 8)</h2>
    <a asp-controller="Home" asp-action="Register" class="text-decoration-none  fs-3">Зарегистрируйтесь и попробуйте снова!</a>
</div>

