@model Bshop.Models.AuthView
@{
    ViewData["Title"] = "Авторизация";
}
<div class="row m-mx-5 justify-content-center">
    <p class="mt-5"></p>
    <h2 class="text-center">Авторизация</h2>
    <div class="col-md-6 ">
        <form asp-action="Authorize">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" poster="Имя" class="control-label">Номер телефона</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Введите пароль</label>
                <input asp-for="Password" class="form-control" />
                  <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 text-center mb-2 mt-2">
                <input type="submit" value="Войти" class="btn btn-primary text-center" />
            </div>
        </form>
    </div>
</div>