@{
    ViewData["Title"] = "BShop";
}

<div class="col-12 text-center">
    <img src="/imgs/Hero.png" class="img-fluid rounded" alt="Hero">
    <div class="h2 m-lg-5 text-dark">Наши услуги и цены</div>
    <div class="row row-col-2 lg-5">
        <div class="m-2 col border rounded border-dark">
            <div class="border-bottom  width-25 border-dark h4 m-2">Женский зал</div>
            <div class="fs-5 text-dark">
                <a class="text-body text-decoration-none" asp-controller="" asp-action="">- Прически -</a><br>
                <a class="text-body text-decoration-none" asp-controller=""  asp-action="">- Макияж -</a><br>
                <a class="text-body text-decoration-none" asp-controller=""  asp-action="">- Окрашивание волос -</a>
            </div>
        </div>
        <div  class="m-2 col border rounded border-dark">
            <div class="border-bottom border-dark h4 m-2">Мужской зал</div>
            <div class="fs-5 text-dark">
                <a class="text-body text-decoration-none" asp-controller="" asp-action="">- Прически -</a><br>
                <a class="text-body text-decoration-none" asp-controller=""  asp-action="">- Усы и борода -</a><br>
               <a class="text-body text-decoration-none" asp-controller=""  asp-action="">- Укладка -</a><br>
            </div>
        </div>
    </div>
</div>
