@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12 text-center">
    <img src="/imgs/Hero.png" class="img-fluid" alt="Hero">
    <div class="h2 m-lg-5">Наши услуги и цены</div>
    <div class="row row-cols-2 m-lg-5">
        <div class="col border rounded border-dark">
            <div class="fs-5 border-bottom-1 border-dark">Женский зал</div>
            <div></div>
        </div>
    </div>
</div>
